body {
    background-color: #1a1a1a;
    color: #f2f2f2;
    font-family: Consolas, Monaco, monospace;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Consolas, Monaco, monospace;
}

.app-title {
    font-size: 3rem;
    margin-bottom: 20px;
    font-family: Consolas, Monaco, monospace;
}

h1, h2, h3 {
    font-family: Consolas, Monaco, monospace;
}